
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Menu</title>
</head>
<body>
    <div>
        <h1> Menu </h1>
        @Html.ActionLink("Nombre", "IrVistaNombre")
        @Html.ActionLink("Dirección", "IrVistaDireccion")


    </div>
</body>
</html>
