
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResultadoFormDireccion</title>
</head>
<body>
    <div>
        <h1>Resultado</h1>
        <h2>@TempData["oracion"]</h2>

        @Html.ActionLink("Regresar", "Index")
    </div>
</body>
</html>
